
.games-carusel{
  width: 100%;
  margin: auto;
  margin-block: 100px;

  .carousel-item{
    width: 100%;
    height: 600px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .carousel-indicators{
    display: none;
  }
}
