<footer class="game-store-footer layout-padding-inline">

  <div class="footer-info">
      <img src="assets/images/logo.png" alt="game store logo">
      <div class="store-information">
        <p>GameStore inc &copy; since 2002</p>
        <address>20342 Magnolia st, California USA</address>
        <p>Tel: 005-55458-5565</p>
      </div>
  </div>

  <div class="footer-copyright">
      <a href="https://www.galwd.com" target="_blank">GWD</a>
      <span> &copy; | {{currentYear}}</span>
  </div>
</footer>
