<div class="layout-padding-inline single-game">
  <app-breadcrumbs [currentPage]="game().name" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    @if (game()) {
      <div class="single-game__data">
          <img class="data-image" [src]="game()?.background_image" [alt]="game()?.name">
          <div class="data-content">
              <h1 class="title">{{game()?.name}}</h1>

              <app-rating [rate]="game()?.rating"/>
              <app-platforms [platforms]="game()?.platforms"/>
              <div class="game-developers">
                @if(game().developers){
                  @for (developer of game().developers; track developer.id){
                    <a class="developers-tag" [routerLink]="'/developers/' + developer.slug" [state]="{id:developer.id}">
                        @if(developer.image_background){
                          <img class="developer-logo" [src]="developer.image_background" [alt]="developer.name + ' logo'">
                        }
                        <span class="developer-name">
                          {{developer.name}}
                        </span>
                    </a>
                  }
                }
              </div>
              <p class="date">
                  <mat-icon class="date-icon" aria-hidden="false"  fontIcon="calendar_month"></mat-icon>
                  <span>{{game()?.released | date}}</span>
              </p>
          </div>
      </div>

      <div class="single-game__description" [innerHTML]="game()?.description"></div>

      <div class="single-game__more-data">

        <div class="data">
            <p class="data-title">
              <mat-icon class="genre-icon" aria-hidden="false"  fontIcon="category"></mat-icon>
            </p>
            <div class="data-values">
              @for (genre of game()?.genres; track genre.id) {
                <span>{{genre.name}}</span>
              }
            </div>
        </div>

        <div class="data">
          <p class="data-title">
            <mat-icon class="store-icon" aria-hidden="false"  fontIcon="storefront"></mat-icon>
          </p>
          <div class="data-values">
            @for (store of game()?.stores; track store.id) {
              <a [href]="'https://'+store.store.domain" target="_blank">{{store.store.name}}</a>
            }
          </div>
        </div>

        <div class="tags">
            @for (tag of game()?.tags; track tag.id) {
              <span class="tag">{{tag.name}}</span>
            }
        </div>
      </div>


      @if (screenShots()) {
        <div class="single-game__screenshots">
          @for (sc of screenShots(); track sc.id) {
            <img [src]="sc.image" [alt]="sc.id">
          }
        </div>
      }


    }

</div>
